<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>    
    <ion-title>Diario Tecnología</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
<ion-list>
    <ion-card class="card" *ngFor="let post of posts" [routerLink]="['/post/', post.slag]">
        <ion-card-content>
          <ion-card-title>
            <h1>{{ post.title }}</h1>
          </ion-card-title>

          <span>{{post.date | date:'dd-MM-yyyy hh:mm'}}</span>
          <p>
            <a href="{{post.link}}">Artículo original</a>
            </p>

          <div [innerHTML]="post.content"></div>

  
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando mas artículos">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  

</ion-content>
